.card{
  
  border: 1px solid #9e94941e;
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 150px;
  display: inline-block;
}

.table {
  z-index: -1;
  width: 1000px;
  height: 400px;
  background-color: #4aad4a;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 150px;
  position: relative;
  border: 15px solid #a95555;

  &:before {
    content: '';
    border: 7px solid rgba(0, 0, 0, .1);
    display: block;
    width: 1015px;
    height: 415px;
    border-radius: 150px;
    position: absolute;
    top: -15px;
    left: -15px;
  }

  &:after {
    content: '';
    border: 7px solid rgba(0, 0, 0, .1);
    display: block;
    width: 985px;
    height: 385px;
    border-radius: 130px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-place {
    border: 5px solid #63c763;
    height: 100px;
    width: 340px;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;

    .card:not(:last-child) {
      margin-right: 15px;
    }
  }
}